.createdBoards-list {
  margin: 20px auto;
  max-width: 1000px;

  .boardsList-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    .board__card {
      background-color: rgb(251, 129, 129);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: rgb(255, 255, 255);
      transform: scale(1);
      animation: enterBoardAnimation 0.5s ease-in 0s 1;
      transition: 0.2s all ease;
      &:hover {
        transform: translate3d(6px, -3px, 5px);
      }
      @keyframes enterBoardAnimation {
        0% {
          transform: scale(0.7);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      h4 {
        margin-bottom: 10px;
        font-size: 20px;
      }

      b {
        font-weight: bold;
        font-size: 19px;
        color: #ffe9df;
      }

      button {
        font-weight: 600;
        background-color: #007bff;
        color: rgb(254, 243, 240);
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        letter-spacing: 1px;
        font-size: 16px;
        &:hover {
          background-color: #4ba2ff;
        }
      }
    }
  }
}
